@font-face {
    font-family: Lumos;
    src: url(fonts/LUMOS.TTF);
  }

 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
   font-family: 'EB Garamond', serif;
   font-size: 20px;
}

h1 {
    font-family: Lumos;
}

a { 
    display: block;
    border: 2px solid black;
    margin: 20px auto; 
    padding: 10px;
    font-size: 2rem;
    text-decoration: none;
    max-width: 400px;
}

div {
    text-align: center;
}